.menu-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5vw;
  background-color: var(--white);
  box-shadow: 0 0 5px var(--fade), 0 0 5px var(--fade);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
  transition: color 0.3s ease;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-1px);
  }
}

.menu-icon {
  font-size: 20px;
}

.menu-txt {
  font-size: 12px;
  text-transform: capitalize;
}

.active {
  color: var(--red);
  transition: color 0.3s ease;
}