footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5vw;
  background-color: var(--white);
  /* background-color: var(--black); */
}

footer li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

footer li i {
  font-size: 20px;
}

span {
  text-transform: capitalize;
  font-size: 12px;
}