nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5vw;
  width: 100%;
  background-color: var(--white);
  background-color: var(--black);
}

.logo {
  width: 30px;
  height: auto;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-icon {
  font-size: 20px;
}
