#loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  transition: top 0.5s ease;
  z-index: 1000;
  h1 {
    font-size: 20vw;
    font-weight: 700;
    text-shadow: 5px 5px 0 orangered;
    color: yellow;
  }
}

main {
  height: 100dvh;
  width: 100%;
  background-color: var(--white);
}